MASKING_APP_PORT=4173
MASKING_APP_STORAGE_BACKEND=object-db

MASKING_APP_POSTGRES_PORT=5432
MASKING_APP_POSTGRES_DB=masking_app
MASKING_APP_POSTGRES_USER=masking
MASKING_APP_POSTGRES_PASSWORD=change-me-local-postgres-password

MASKING_APP_MINIO_PORT=9000
MASKING_APP_MINIO_CONSOLE_PORT=9001
MASKING_APP_MINIO_ROOT_USER=masking
MASKING_APP_MINIO_ROOT_PASSWORD=change-me-local-minio-password
MASKING_APP_OBJECT_REGION=us-east-1
MASKING_APP_OBJECT_BUCKET=masking-app
